
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Condensed&display=swap');

body{
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  height: 72px;
  margin-top: 5px;
}

nav ul{
  display: flex;
  
}



